<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Service</h3>
  </div>
  <div class="panel-body">
    <p><strong>Service Performed: </strong> {{ currentResource.resource.data.servicePerformed }}</p>
    <p><strong>Service Notes: </strong> {{ currentResource.resource.data.serviceNotes }}</p>
    <p><strong><a ui-sref="appointment.view({appointmentId: currentResource.resource.data.appointment._id})">View Appointment Details</a></strong></p>
  </div>
</div>
