<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-building"></i> Contractors
        </h3>
      </div>
      <div class="panel-body">
<!--       <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h5>Search By:</h5>
          <form class="form">
            <div class="form-group">
              <label class="control-label" for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="filter.lastName">
            </div>
            <div class="form-group">
              <label class="control-label" for="lastName">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" ng-model="filter.phoneNumber">
            </div>
            <div class="form-group">
              <button class="btn btn-default" ui-sref="customerIndex({filter: filter})" ui-sref-opts="{reload:true}">Search</button>
            </div>
          </form>
        </div>
      </div> -->
        <div ng-if="contractors.length == 0" class="alert alert-info" role="alert">
          Could not find any contractors. Click <strong>New Contractor</strong> to add one.
        </div>
        <div ng-if="contractors.length > 0">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="contractor in contractors" class="clickable-table-row" ng-click="$state.go('contractor.view', {contractorId: contractor._id})">
                  <td>{{ contractor.data.name }}</td>
                  <td>{{ contractor.data.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <bgf-pagination collection="contractors" url="contractorsUrl" url-params="urlParams" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="contractorCreate()" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i> New Contractor
        </a>
      </div>
    </div>
  </div>
</div>
