$body-bg: #fafafa;
@import "bower_components/bootswatch/yeti/_variables.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootswatch/yeti/_bootswatch.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#content {
  margin-top: 60px;
}

.nav.nav-tabs {
  margin-bottom: 10px;
}

