<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a ui-sref="opportunityIndex()" class="btn btn-success">
        <i class="fa fa-building"></i> {{ title }}
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-if="resources.length == 0" class="alert alert-info" role="alert">
      You currently do not have any opportunties associated with your account. Click <strong>New Opportunity</strong> to add one.
    </div>
    <table ng-if="resources.length > 0" class="table table-striped">
      <thead>
      <tr>
        <th>For</th>
        <th>Type</th>
        <th>Submitted</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="resource in resources">
        <td><a ui-sref="resource.view({id: resource._id})">{{ resource.data.customer.data.name }}</a></td>
        <td><a ui-sref="resource.view({id: resource._id})">{{ resource.data.quoteType }}</a></td>
        <td>{{ resource.created | amDateFormat:'MMMM Do YYYY' }}</td>
      </tr>
      </tbody>
    </table>
    <bgf-pagination collection="resources" url="opportunitiesUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
  </div>
  <div class="panel-footer"><a ui-sref="opportunityCreate()" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i> New Opportunity</a>
  </div>
</div>
