<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading" style="border-bottom:0; padding-bottom: 0;">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: isActive('auth.dealerLogin')}"><a ui-sref="auth.dealerLogin()">Dealer Login</a></li>
        <li role="presentation" ng-class="{active: isActive('auth.contractorLogin')}"><a ui-sref="auth.contractorLogin()">Contractor Login</a></li>
        <li role="presentation" ng-class="{active: isActive('auth.adminLogin')}"><a ui-sref="auth.adminLogin()">Admin Login</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
